body {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

button{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.hero {
    background-color: #d9d9d9;
    height: 570px;
}

h1{
    font-size: 64px;
    font-weight: bolder;
}

.hero-content {
    padding: 170px;
}


.hero-content > p {
    margin-top:  50px;
    margin-bottom: 50px;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}

.hero-btn{
    width: 230;
    height: 45;
    border: none;
    border-radius: 28px;
    padding: 15px 60px;
    font-weight: bold;
	 background-color: #C2C0C0;
	 color: black;
	 text-decoration: none;
}

/* Hover effect for hero button */

.hero-btn:hover {
	color: white;
	background-color: black; 
}

.hoverbox{
    display: flex;
    justify-content: center; 
    margin-top: 90px; 
}

.color-hoverbox{
    height: 330px;
    width: 305px;
    background-color: #D9D9D9;
    margin-right:  74px;
    font-size: 40px;
    font-weight: bold; 
<<<<<<< HEAD
	display: flex;
	flex-direction: column;
	justify-content: center;   
=======
	 display: flex;
	 flex-direction: column;
	 justify-content: center;   
>>>>>>> 5f7a1eed1e0ed1e3097fc55777e5aa1c1a913cac
}

.colorbox-wrapper{
    margin-top: 90px;
    margin-bottom: 174px;
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}

.mini-colorbox{
    width: 305px;
    height: 111px;
    background-color: #D9D9D9;
    margin-right: 74px;
    margin-bottom: 45px;
<<<<<<< HEAD
	display: flex;
	justify-content: center;
	flex-direction: column;
    border: none;
}

.mini-colorbox > p{
    width: 305px;
=======
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
>>>>>>> 5f7a1eed1e0ed1e3097fc55777e5aa1c1a913cac
}

.colorbox{
    width: 685px;
    height: 423px;
    background-color: #D9D9D9;
<<<<<<< HEAD
	display:flex;
	flex-direction: column;
	justify-content: center;
=======
	 display:flex;
	 flex-direction: column;
	 justify-content: center;
>>>>>>> 5f7a1eed1e0ed1e3097fc55777e5aa1c1a913cac
	
}

/* Hover Effects */

#color-hoverbox-1:hover{
    background-color: red;
    color: white;
}

#mini-colorbox-1:hover{
    background-color: red;
    color: white;
}

#color-hoverbox-2:hover{
    background-color: blue;
    color: white;    
}

#mini-colorbox-2:hover{
    background-color: green;
    color: white;    
}

#color-hoverbox-3:hover{
    background-color: black;
    color: white;
}

#mini-colorbox-3:hover{
    background-color: blue;
    color: white;
}
